// Colors
// ================================================================

$colors: (
    one: #709775,
    two: #007EA7,
    three: #102E4A,
    four: #DFEAE4,
    light: #ffffff,
    medium: #788185,
    dark: #000000,
);
