//- Variables
- $background_color = "bg-color-" . get_sub_field('background_color')
- $heading = get_sub_field('heading')
- $content = get_sub_field('content')
- $button = get_sub_field('button')

section.flex-block.flex-content.hrz-padding(class="<?= $bg_color; ?>")
	.container.vert-padding
		- if($heading) :
			h2: - echo $heading
		- endif
		- if($content) :
			- echo $content
		- endif
		- if($button): 
			a.button.button-fillup(
				href="<?= $button['url']; ?>" 
				target="<?= $button['target']; ?>") 
				- echo $button['title']
		- endif
		