- $image_position = get_sub_field('image_position')
- $header = get_sub_field('header')
- $content = get_sub_field('content')
- $image = get_sub_field('image')
- $button = get_sub_field('button')

section.flex-block.flex-content-image.hrz-padding(class="img-alignment-<?= $image_position;?>")
	.container-lg.columns.col-count-2.content-block
		section.column
			- if($header) :
				h2: - echo $header
			- endif

			- if($content) : 
				- echo $content
			- endif

			- if($button): 
				a.button.button-fillup(
					href="<?= $button['url']; ?>" 
					target="<?= $button['target']; ?>") 
					- echo $button['title']
			- endif
		aside.column
			- if($image) :
				.image-wrapper(
					style="background-image:url('<?= $image['url'];?>');"
					alt="<?= $image['alt'];?>")
			- endif