- // featured('title'), featured('image'), featured('alt')

.featured
    .container-full
        aside
            h1: - featured('title') 
        section.overlay(style="background-image: url(<?php featured('image') ?>)")