- // featured('title'), featured('image'), featured('alt')

.featured.overlay.bg-circle.hrz-padding(style="background-image: url(<?php featured('image') ?>)")
    .container-lg
        h1: - featured('title') 